<div class="historical-cont">
    <h4>Last three days</h4>
    <div class="row">
      <div class="col">
        {{this.weatherData?.historical.date}}
        <ul>
          <li> 
            <span><i class="fas fa-thermometer-quarter"></i></span>
            {{this.weatherData?.historical.mintemp}}
          </li>
          <li> 
            <span><i class="fas fa-thermometer-quarter"></i></span>
            {{this.weatherData?.historical.maxtemp}}
          </li>
        </ul>
      </div>

      <div class="col">
        {{this.weatherData?.historical.date}}
        <ul>
          <li> 
            <span><i class="fas fa-thermometer-quarter"></i></span>
            {{this.weatherData?.historical.mintemp}}
          </li>
          <li> 
            <span><i class="fas fa-thermometer-quarter"></i></span>
            {{this.weatherData?.historical.maxtemp}}
          </li>
        </ul>
      </div>

      <div class="col">
        {{this.weatherData?.historical.date}}
        <ul>
          <li> 
            <span><i class="fas fa-thermometer-quarter"></i></span>
            {{this.weatherData?.historical.mintemp}}
          </li>
          <li> 
            <span><i class="fas fa-thermometer-quarter"></i></span>
            {{this.weatherData?.historical.maxtemp}}
          </li>
        </ul>
      </div>
    </div>

</div>